<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.setLocationWithOptions({longitude:"-122.255251", latitude:"37.866287"}, )</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:35:42Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().textFields()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:35:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().textFields()[1].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:35:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().textFields()[2].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:35:44Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:35:45Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:35:47Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>File</key>
			<string>Unit2ToRSF.js</string>
			<key>Line</key>
			<integer>36</integer>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>Result Location is INCORRECT. Expected: Top Dog. Got: function value() {\n    [native code]\n}</string>
			<key>Screenshot</key>
			<string>642C715F-B3EF-4F59-908C-5EBD58C8C629</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:35:49Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>File</key>
			<string>Unit2ToRSF.js</string>
			<key>Line</key>
			<integer>42</integer>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>Result Address is INCORRECT. Expected: 2534 Durant Ave. Got: </string>
			<key>Screenshot</key>
			<string>C38A311C-8365-4B32-9BB6-3F6918B95C63</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:35:49Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
