<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.setLocationWithOptions({longitude:"-122.255251", latitude:"37.866287"}, )</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:44:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().textFields()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:44:24Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().textFields()[1].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:44:24Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().textFields()[2].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:44:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:44:26Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:44:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>File</key>
			<string>Unit2ToRSF.js</string>
			<key>Line</key>
			<integer>36</integer>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>Result Location is INCORRECT. Expected: Top Dog. Got: </string>
			<key>Screenshot</key>
			<string>15C68446-DB19-4CDF-B4A3-AE5A219062A2</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:44:30Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>File</key>
			<string>Unit2ToRSF.js</string>
			<key>Line</key>
			<integer>42</integer>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>Result Address is INCORRECT. Expected: 2534 Durant Ave. Got: </string>
			<key>Screenshot</key>
			<string>85EE0D53-12D5-4962-84FF-10B2BC2999B9</string>
			<key>Timestamp</key>
			<date>2015-07-01T20:44:30Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
